.content {
  .desktop {
    display: none;
  }
    position: relative;
    color: white; /* Adjust text color for visibility */
    text-align: center;

    a {
      color: white;
      display: inline-block;
      width: fit-content;
      background-color: rgba(0, 0, 0, 0.5);;
      text-decoration: none;
      margin-top: 29vh;

      h2 {
        padding: .5rem;
        margin: 0;
      }
    }

    .logo-link {
      padding-bottom: 0;
    }

    .logo-link:not(:last-child)::after {
     border-bottom: none !important;
    }

    .nav-bar {
      .social-icons a {
        margin-right: 10px;
      }
    }
    @media (min-width: 768px) {
      .desktop {
        display: flex;

        .desktop-logo {
          margin-left: auto;
        }
        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          padding: 0;
          margin-left: 20px;
          list-style: none;
      
          li {
            color: white;
            cursor: pointer;
            font-size: 1.2rem;
            
            &:hover {
              color: #e3a45a;
            }
          }
        }
      }

      .mobile {
        display: none;
      }
    }




  }

  .logo {
    max-width: 200px;
    width: 100%; /* Makes sure it shrinks proportionally */
  }

  
